.navigation {
  padding: 16px;
  height: 100vh;
  overflow: auto;
  border: 1px solid #adabab;
  width: 300px;
  position: sticky;
  top: 0;
}

#viewer.scrolled .epub-container {
  background: white;
  /* box-shadow: 0 0 4px #ccc; */
  padding-bottom: 40px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
